[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastf1 = "*"
psycopg2 = "*"
aiofiles = "*"
aiopg = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.12"
